<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

    <title>News</title>
</head>

<body>
    <div style="height:40px; padding:0px; margin:0px; width: 100%;"><iframe src="https://widget.coinlib.io/widget?type=horizontal_v2&theme=dark&pref_coin_id=1505&invert_hover=" width="100%" height="36px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;"></iframe></div>
    <header>

        <div class="headerItemContainer">
            <a href="#">
                <h1>ClearCoin</h1>
            </a>
            <div class="nav-button-container">
                <a href="/" class="signInBtn">Home</a>
                <a href="/portfolio" class="signInBtn">Portfolio</a>
                <a href="#" class="signInBtn">Sign In</a>
                <a href="/about" class="signInBtn">About</a>
            </div>
        </div>
    </header>

    <section class="newsIntro">
        <h2 id="newsIntroHeading">Here is the latest in Cryptocurrency news</h2>
    </section>

    <div class="newsContainer">
        <% for(let i=0; i < news.length; i++) { %>
            <a class="newsUrl" target="_blank" href="<%= news[i].url %>">
            <div class="newsSquare">
                    <img class="newsThumbImg" src=<%= !news[i].image ? "https://www.eff.org/files/images_insert/bitcoin-square-265_0.jpg" : news[i].image.thumbnail.contentUrl %> alt="newsimg">
                    <div class="newsTextContentContainer">
                        <span id="newsProvider">
                            <%= news[i].provider[0].name %>
                        </span>
                        <h3 class="newsHeading">
                            <%= news[i].name %>
                        </h3>
                        <p class="newsDescription">
                            <%= news[i].description %>
                        </p>
                    </div>
            </div>
        </a>

            <% } %>
    </div>



</body>
<script src="js/news.js"></script>

</html>